@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text-2xs: 0.6875rem;
  --color-primary: var(--primary);
  --color-primary-container: var(--primary-container);
  --color-secondary: var(--secondary);
  
  --color-background: var(--background);
  --color-surface-low: var(--surface-container-low);
  --color-surface-lowest: var(--surface-container-lowest);
  
  --color-primary-text: var(--on-surface);
  --color-text-variant: var(--on-surface-variant);
  --color-on-button: var(--on-button);
  
  --color-border: var(--outline-variant);

  --color-overlay: var(--modal-overlay);

  --font-display: "Manrope", "sans-serif";
  --font-body: "Inter", "sans-serif";

  --shadow-sunken: var(--shadow-sunken);
}

:root {
  --primary: #006a6a;
  --primary-container: #8dedec;
  --secondary: #6275AF;
  
  --background: #faf9fe;
  --surface-container-low: #f3f3fa;
  --surface-container-lowest: #ffffff;
  
  --on-surface: #2f323a;
  --on-surface-variant: rgba(47, 50, 58, 0.6);
  --on-button: #ffffff;
  
  --outline-variant: rgba(47, 50, 58, 0.15);

  --modal-overlay: rgba(76, 80, 93, 0.2);

  --shadow-sunken: 0px 20px 40px rgba(47, 50, 58, 0.06);
}

.dark {
  --background: #191c1c;
  --surface-container-low: #1e2121;
  --surface-container-lowest: #2b2f2f;
  --on-surface: #e1e3e3;
  --on-surface-variant: rgba(225, 227, 227, 0.6);
  --outline-variant: rgba(225, 227, 227, 0.15);
  --modal-overlay: rgba(0, 0, 0, 0.6);
}

body {
  @apply bg-background font-body text-primary-text transition-colors duration-300;
}

h1, h2, .display-text {
  @apply font-display font-bold tracking-tight;
}

.glass-panel {
  @apply bg-white/80 backdrop-blur-[24px];
}

.btn-primary {
  @apply bg-primary text-on-button text-shadow-2xs shadow-sunken rounded-xl px-6 py-3 transition-all duration-200;
}

.btn-primary:hover {
  @apply bg-primary-container text-primary cursor-pointer;
}

.btn-primary:active {
  @apply text-on-button;
}

.btn-primary-gradient {
  background: linear-gradient(135deg, var(--primary), var(--primary-container));
  @apply text-on-button rounded-xl px-6 py-3 transition-all duration-300;
}

.btn-secondary {
  @apply bg-secondary text-on-button text-shadow-2xs shadow-sunken rounded-xl px-6 py-3 transition-all duration-200;
}

.btn-secondary:hover {
  @apply bg-primary-container text-secondary cursor-pointer;
}

.btn-secondary:active {
  @apply text-on-button;
}