@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-neutral: var(--neutral);
  --color-neutral-light: var(--neutral-light);
  --color-primary-text: var(--primary-text);
  --color-on-primary: var(--on-primary);
  --color-on-secondary: var(--on-secondary);
  --font-display: "Google Sans Code", "Open Sans", "sans-serif";
}

:root {
  --primary: #2563EB;
  --secondary: #6275AF;
  --on-primary: #FFFFFF;
  --on-secondary: #FFFFFF;

  --neutral: #F8FAFC;
  --neutral-light: #F1F5F9;
  --primary-text: #0F172A;
}

.dark {
  --neutral: #1E293B;
  --neutral-light: #334155;
  --primary-text: #F8FAFC;
}

body {
  @apply bg-neutral-light font-display text-primary-text transition-colors duration-300;
}

.bg-primary {
  color: var(--on-primary);
}

.bg-secondary {
  color: var(--on-secondary);
}